body {
 margin: 50px;
}
h1 {
 color: black;
 font-style: italic;
 text-align: center;
}
h3 {
 color: #717171;
}
p {
 font: normal 100%/1.5 Helvetica, Arial, Sans-serif;
 color: #313131;
}
.contenedor{
  width: 90%;
}
.post{
  height: auto; /*100px;*/
  margin-bottom: 1em; /* Equivale a 16px */
  text-align: justify;
}
.derecha{
  text-align: right;
  width: 100%;
}
input[type="email"]{
  width: 100%;
}
input[type="submit"]{
  width: 120px;
  height: 40px;
  color: #fff;
  background: #144c83;
  background: linear-gradient(#144c83, #2da8ea);
  float: left;
  border: 0;
}
input[type="submit"]:hover{
  color: #e7e7e7;
  background: linear-gradient(#2da8ea, #144c83);
}
